.box {
  width: 95vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box .card {
  width: 60%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px rgb(0, 0, 0, 0.6);
}

.card.explicacao {
  height: 80%;
}

.card.explicacao .pagina {
    width: 50%;
    height: 100%;
}

.card.qtdLivros {
  width: 30vw;
  margin-bottom: 50px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.card.qtdLivros #div_qtdLivros {
  font-size: 20px;
}

.box.second .card.dashboard {
  display: flex;
  flex-direction: column;
}

.pagina p {
    margin: 20px;

    font-size: 25px;
    text-align: justify;
}

.dash {
  width: 100%;
  height: 100%;
}