.header {
    position: static;
}

.container_livro {
    width: 100vw;
    height: 70vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-bottom: 2px solid red;
}

.container_livro .content {
    width: 60%;
    height: 80%;
    padding: 10px;

    display: flex;
    align-items: center;

    border-radius: 10px;
    border-top: 5px solid rebeccapurple;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, .3);
}

.container_livro .imagem {
    height: 95%;
    margin-left: -150px;

    display: flex;
    justify-content: center;
    
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;

    transition: .8s;
}

.container_livro .imagem:hover {
    height: 98%;
}

.container_livro .div_info {
    width: 80%;
    margin: 10px;
}

.container_livro #nome {
    font-size: 50px;
    transition: .5s;
}

.container_livro #nome:hover {
    font-size: 52px;
}

.container_livro #autor {
    font-size: 25px;
}

.container_livro #sinopse {
    width: 100%;
    margin: 10px 0;  
}

.container_livro p {
    font-size: 18px;
}

.container_livro #destaque {

}

/*----Comentários----*/
