.container_livro {
    height: 70vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_livro .content {
    width: 60%;
    height: 80%;
    padding: 10px;
    margin-top: 15vh;

    display: flex;
    align-items: center;

    border-radius: 10px;
    border-top: 5px solid rebeccapurple;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, .3);
}

.container_livro .imagem {
    height: 95%;
    margin-left: -150px;

    display: flex;
    justify-content: center;
    
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;

    transition: .8s;
}

.container_livro .imagem:hover {
    height: 98%;
}

.container_livro .div_info {
    width: 80%;
    margin: 10px;
}

.container_livro #nome {
    font-size: 50px;
    transition: .5s;
}

.container_livro #nome:hover {
    font-size: 52px;
}

.container_livro #autor {
    font-size: 25px;
}

.container_livro #sinopse {
    width: 100%;
    margin: 10px 0;  
}

.container_livro p {
    font-size: 18px;
}

/*----Comentários----*/

.container_comentario {
    height: 120vh;
    margin-top: 5vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_comentario .div_form {
    width: 50%;
    padding: 20px;

    border-radius: 10px;
    border-top: 5px solid rebeccapurple;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, .3);
}

.div_form #form_postagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_postagem label{
    font-size: 25px;
}

#form_postagem textarea{
    width: 80%;
    padding: 10px;

    font-size: 20px;
}

.comentarios {
    width: 50%;
    margin: 30px 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.comentarios::-webkit-scrollbar {
  width: 12px;
  border: 1px solid;
  border-radius: 10px;
}

.comentarios::-webkit-scrollbar-thumb {
  background-color: rgb(94, 6, 175);
  border-radius: 10px;
}

.comentarios .feed-container {
    width: 90%;
    padding: 20px;
    margin: 10px 0;

    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, .3);
}

.feed-container #comentarioUsuario {
    width: 80%;
}