.login {
  height: 100vh;

  background-image: url(https://images.pexels.com/photos/877971/pexels-photo-877971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  display: flex;
  justify-content: center;
}

.caixaLogin {
  width: 30vw;
  margin-top: 10vh;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
  border-top: 5px solid #6b39c3;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}

.caixaLogin input {
  width: 60%;

  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #6b39c3;

  padding: 10px;
  margin-bottom: 7px;

  text-align: center;
}

.caixaLogin .botoes {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.caixaLogin button {
  margin: 10px 0 0 0;
  padding: 10px 50px 10px 50px;

  background-color: #6b39c3;
  color: #fff;

  border-radius: 30px;
  border-style: none;
}
.caixaLogin button:hover {
  background-color: #2d086e;
}
.caixaLogin button:active {
  background-color: #4c1aa1;
}
